extends partials/templates/template.pug

block content
  +b.SECTION.page.container
    // Content
    +b.SECTION.content
      +b.SECTION.breadcrumbs
        a(href="page.html") Центр сертификации Мостест
        =' > '
        span Сертификат Таможенного Союза
      // Sidebar      
      +b.ASIDE.sidebar
        +e.form
          +e.H3.form-title Рассчитайте стоимость услуги:
          include partials/components/form--application.pug
      +e.content__text            
        +e.H1.content__title Сертификат Таможенного Союза
        p Одним из самих важных документов, необходимых для реализации импортированной продукции, является Сертификат Таможенного Союза. Он действителен на территории государств-участников соглашения и подтверждает соответствие продукции всем требованиям Таможенного Союза.
        p Таможенный Союз вступил в силу 1 июля 2010 года с целью упрощения торговли между странами, входящими в него посредством создания единой таможенной территории. На сегодняшний день в Таможенный союз входят Российская Федерация, Республика Казахстан, Армения, Киргизия и республика Беларусь.
        h2 Зачем нужно оформление сертификата Таможенного Союза?
        p Сертификат Таможенного Союза необходим для того, чтобы вы могли без проблем ввозить продукцию. Кроме этого, документ значительно повышает спрос на товар среди покупателей, так как они могут быть уверены в высоком качестве Ваших товаров.
        p Наличие такого документа позволяет:
        ul
          li На законных основаниях ввозить продукцию на территорию стран ТС.
          li Беспрепятственно реализовывать ввозимые товары.
          li Ускорить оборот товаров.
          li Повысить доверие Ваших клиентов — сертификат Таможенного Союза гарантируют качество продукции, соответствие ее всем требованием, а также ее безопасность для потребителей.
        p И, конечно же, главное преимущество, которым обладает Сертификат Таможенного Союза, заключается в том, что нет необходимости в получении дополнительной документации, которая нужна для поставок. Это связано с тем, что сертификат действует на всех территориях стран-участниц ТС.
        h2 Как оформляется сертификат Таможенного Союза?
        p Для получения данного документа, Вам необходимо пройти сертификацию товаров в соответствии с требованиями технических регламентов ТС.
        p Процедура оформления сертификата ТС строго регламентирована и имеет следующий порядок:
        ul
          li Заявитель подает в уполномоченный сертификационный центр документы на сертификацию. В состав документов входят ИНН, ОГРН организации, документация на продукцию и реквизиты компании-производителя, а также сертификаты, полученные ранее. Если в этом есть необходимость, дополнительно представляются документы, подтверждающие гигиеническую безопасность.
          li Сертификационный центр проводит лабораторные испытания, после чего составляется протокол испытаний.
          li На основании протоколов сотрудники сертификационного центра принимают решение об успешности прохождения процедуры сертификации и возможности выдачи сертификата ТС.
        p Чтобы сэкономить свое время и избежать возможных ошибок при оформлении документов, мы рекомендуем Вам обратиться к специалистам. Квалифицированные сотрудники нашего центра детально разъяснят особенности прохождения сертификации, помогут быстро и качественно пройти все необходимые этапы для получения сертификата Таможенного союза.
        include partials/components/share.pug

    include partials/components/clients.pug
    +e.page__bottom
      include partials/components/reviews.pug
      include partials/components/managers.pug