.certification-menu{
  margin-top: 20px;
  &__list{
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  &__item{
    list-style-type: none;
    background-color: $white;
    border: 1px solid $grey-border;
    position: relative;
    flex: 0 0 calc(25% - 40px);
    margin: 0 20px 20px;
    padding: 10px 10px 10px 60px;
    display: flex;
    align-items: center;
    @include mq($from:xs, $until:lg){
      flex: 0 0 calc(50% - 40px);
      min-height: 60px;
    }
    @include mq($from:xs, $until:sm){
      flex: 0 0 calc(100% - 40px);
    }

    &:hover, &:focus, &:active{
      > .certification-dropdown{
        display: block;
      }
    }
    &:before{
      content: "";
      position: absolute;
      left: 30px;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &:nth-child(1):before{
      @include sprite($s-icon-nav-1); 
    }
    &:nth-child(2):before{
      @include sprite($s-icon-nav-2); 
    }
    &:nth-child(3):before{
      transform: translate(-50%, -50%) scale(0.8);
      @include sprite($s-icon-nav-3); 
    }
    &:nth-child(4):before{
      @include sprite($s-icon-nav-4); 
    }
    &:nth-child(5):before{
      @include sprite($s-icon-nav-5); 
    }
    &:nth-child(6):before{
      @include sprite($s-icon-nav-6); 
    }
    &:nth-child(7):before{
      @include sprite($s-icon-nav-7); 
    }
    &:nth-child(8):before{
      @include sprite($s-icon-nav-8); 
    }
  }
  &__link{
    font-weight: $semibold;
    color: $text-color;
    @include mq($from:xs, $until:xl){
      font-size: $font-size-small;
    }
  }
}

.certification-dropdown{
  display: none;
  padding-left: 0;
  list-style-type: none;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: -1px;
  box-sizing: content-box;
  transform: translateY(100%);
  width: 100%;
  z-index: 2;
  background-color: $white;
  border: 1px solid $grey-border;

  &__item{
    padding: 0 20px;
    &:last-child .certification-dropdown__link{
      border-bottom: none;      
    }
  }
  &__link{
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid $grey-border; 
    font-weight: $semibold;
    color: $text-color;  
  }
}