.content{
  padding: 40px 50px;
  display: flex;
  flex-wrap: wrap;
  @include mq($from:xs, $until:lg){
    padding: 20px;
  }
  
  &__form{
    flex: 0 0 calc(50% - 40px);
    margin:0 20px;
    background-image: linear-gradient(135deg, $yellow 35%, $blue 35%, $blue 75%, $yellow 75%), linear-gradient(135deg, $yellow 35%, $blue 35%, $blue 75%, $yellow 75%);
    background-repeat: repeat-x, repeat-x;
    background-position: 0 0, 0 100%;
    background-size: 60px 10px, 60px 10px;
    border-right: 1px solid $grey-border;
    border-left: 1px solid $grey-border;

    .form-group{
      flex: 0 0 50%;
      padding-left: 20px;
      padding-right: 20px;
      @include mq($from:xs, $until:sm){
        flex: 0 0 100%;
        max-width: 240px;
        margin: 0 auto 10px;
      }
    }
    .btn--form{
      &:before{
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        @include sprite($s-icon-doc); 
      }
    }
    .recaptcha{
      flex: 0 0 100%;
      @include mq($from:xs, $until:sm){
        position: relative;
        top: -10px;
        left: -35px;
        transform: scale(0.65);
      }
    }
    .captcha{
      @include mq($from:xs, $until:sm){
        margin-bottom: 0;
      }      
    }
  }
  &__form-title{
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 40px 20px 30px;
    text-transform: uppercase;
    position: relative;
    font-weight: $semibold;
    font-size: $font-size-subtitle;
    @include mq($from:xs, $until:sm){
      padding: 20px 20px 10px;
    }

    &:before{
      display: block;
      position: absolute;
      top: 5px;
      content: "";
      width: calc(100% - 40px);
      height: 7px;
      border-top: 1px solid $grey-border;
      border-bottom: 1px solid $grey-border;
    }
    span{
      position: relative;
      z-index: 2;
      background-color: $white;
      padding: 5px 30px;
      display: inline-block;
    }
  }
  &__text{
    flex: 0 0 calc(100% - 320px);
    margin: 0 20px;
    @include mq($from:xs, $until:md){
      margin: 20px;
      flex: 0 0 calc(100% - 40px);
    }
  }
  &__title{
    margin: 0 0 20px;
  }
}
