.form{
  text-align: center;
  // @include mq($from:xs, $until:sm){
  //   padding: 0 20px;
  // } 
  form{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;   
  }
  // &__title{
  //   flex: 0 0 100%;
  //   margin: 40px 0 30px;
  //   text-transform: uppercase;
  //   border-radius: 15px 15px 0 0;    
  //   padding: 25px 0 25px;
  //   background-color: $light-blue;    
  //   font-weight: $regular;
  //   text-transform: uppercase;
  //   font-size: $font-size-subtitle;
  // }
  &__input{
    padding: 8px 15px; 
    width: 100%;
    border: 1px solid $grey-border;
    &:focus::-webkit-input-placeholder{
      color: transparent;         
    }       
    &:focus::placeholder{
      color: transparent;         
    } 
    &--time{
      width: 100px;
      margin: 0 5px;
    }
  }
  &__textarea{
    padding: 8px 15px;    
    width: 100%;
    border: 1px solid $grey-border;
    height: 150px;
    &:focus::-webkit-input-placeholder{
      color: transparent;         
    }       
    &:focus::placeholder{
      color: transparent;         
    } 
  }
  // &__time-text{
  //   font-size: $font-size-small;
  // } 
  .recaptcha{
    flex: 0 0 100%;
    margin-bottom: 0;
  } 
}

.form-group{
  flex: 0 0 100%;
  // padding-left: 20px;
  // padding-right: 20px;
}

.captcha{
  background-color: $white;
  background-image: url(../img/captcha.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 304px;
  height: 78px;
  margin: 0 auto 30px;
  text-align: center;  
}
