.has-success{
  input, textarea{
    // border: 1px solid $success;
    outline: 2px solid $success;
    // background-color: $success-bg;
    box-shadow: none;
  }
}
.has-error{
  input, textarea{
    // border: 1px solid $error;
    outline: 2px solid $error;
    // background-color: $error-bg;
    box-shadow: none;
  }
  .help-block-error{
    display: block;
  }
}
.help-block{
  display: none;
  margin: 10px 0;
  font-size: $font-size-small;
}

.form-group{
  margin-bottom: 20px;  
}

.field-question-recaptcha .g-recaptcha > div { 
  margin: 0 auto;
}