.offer{
  background-image: url(../img/bg-1.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  padding: 20px 60px 20px;
  outline: 1px solid $white;
  outline-offset: -5px;  
  @include mq($from:xs, $until:lg){
    padding: 20px;
  }

  &__title{
    margin: 20px 0;
    text-transform: uppercase;
    width: 100%;
    font-weight: $semibold;
    font-size: $font-size-subtitle;
  }
  &__list{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__item{
    flex: 0 0 20%;
    max-width: 20%;
    margin: 0;
    text-align: center;
    padding: 20px 10px 0;
    position: relative;
    border: 1px solid transparent;
    @include mq($from:xs, $until:md){
      flex: 0 0 100%
    }
    &:after{
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      width: 50%;
      transform: translateX(50%);
      border-top: 1px dashed $blue;
      top: 40px;
      right: 0;
      @include mq($from:xs, $until:md){
        content: none;
      }
    }
    &:last-child:after{
      content: none;
    }

    &:hover, &:focus{
      background-color: $white;
      border: 1px solid $grey-border;
      .offer__additional{
        display: block;
      }
      .offer__text{
        border-bottom: 1px solid $grey-border;
      }      
    }
  }
  &__number{
    display: inline-block;
    color: $blue;
    font-size: $font-size-title;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 2px solid $yellow;
    margin-bottom: 20px;
    @include mq($from:xs, $until:md){
      margin-bottom: 10px;
    }
  }
  &__text{
    padding-bottom: 20px;
    font-weight: $semibold;
    border-bottom: 1px solid transparent;
  }
  &__additional{
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: -1px;
    width: calc(100% + 2px);
    transform: translateY(100%);
    background-color: $white;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid $grey-border;
    border-top: 1px solid transparent;
    display: none;
    a{
      text-decoration: underline;
    }
  }
}