.page{
  &--front-page{
    // .content{
    //   flex-wrap: nowrap;
    // }
    .content__form{
      flex: 0 0 calc(50% - 40px);
      @include mq($from:xs, $until:lg){
        flex: 0 0 calc(100% - 40px);
      }
    }
    .content__text{
      flex: 0 0 calc(50% - 40px);
      @include mq($from:xs, $until:lg){
        margin-top: 20px;
        flex: 0 0 calc(100% - 40px);
      }
    }
  }
  &__bottom{
    padding: 0 50px;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    outline: 1px solid $white;
    outline-offset: -5px;
    display: flex;
    flex-wrap: nowrap;
    @include mq($from:xs, $until:lg){
      flex-wrap: wrap;
    }
  }
}
