.share{
  text-align: center;

  &__inner{
    display: inline-block;
    padding: 10px 0;
  }

  &__link{
    display: inline-block;
    opacity: 0.5;
    &:hover, &:focus{
      opacity: 1;
    }
    &:nth-child(1){
      @include sprite($s-social-vk);
    }
    &:nth-child(2){
      @include sprite($s-social-fb);
    }
    &:nth-child(3){
      @include sprite($s-social-skype);
    }
    &:nth-child(4){
      @include sprite($s-social-ok);
    }
    &:nth-child(5){
      @include sprite($s-social-google);
    }
  }  
}