.side-fixed-menu{
  position: fixed;
  z-index: 4;
  right: -90px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 90px;
  @include mq($from:xs, $until:md){
    display: none;
  }

  &__list{
    padding-left: 0;
    margin: 0;
    border: 1px solid $grey-border;
    background-color: $white; 
  }
  &__item{
    list-style-type: none;
    text-align: center;
  }
  &__link{
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    padding: 70px 10px 10px;
    color: $text-color;
    &:before{
      content: "";
      position: absolute;
      left: 50%;
      top: 40px;
      transform: translate(-50%, -50%);
    }
    &:nth-child(1):before{
      @include sprite($s-fixed-percent); 
    }
    &:nth-child(2):before{
      @include sprite($s-fixed-tel); 
    }
    &:nth-child(3):before{
      @include sprite($s-fixed-doc); 
    }
    &:nth-child(4):before{
      @include sprite($s-fixed-vk); 
    }
    &:nth-child(5):before{
      @include sprite($s-fixed-up); 
    }
    &:hover, &:focus{
      background-color: $grey-border; 
      // ~ .side-fixed-details{
      //   display: block;
      // }
    }
  }
}

.side-fixed-details{
  display: none;
  position: absolute;
  right: 95px;
  top: 0;
  border: 1px solid $grey-border;
  background-color: $white;
  width: 300px; 
  padding: 20px;

  &__title{
    text-transform: uppercase;
    font-weight: $semibold;
    font-size: $font-size;
    margin: 10px 0;
  }
  &__link-all{
    display: inline-block;
    padding-top: 10px;
  }

  .recaptcha{  
    position: relative;
    top: -15px;
    transform: scale(0.72);
  }
  .captcha{  
    margin-bottom: 0;
  }
  .btn--form{
    margin-bottom: 10px;
  }  
}

