.statistics{
  background-image: url(../img/bg-2.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  padding: 20px 60px 20px;
  position: relative;
  outline: 1px solid $white;
  outline-offset: -5px;
  @include mq($from:xs, $until:lg){
    padding: 20px;
  }
  
  &__title{
    color: $white;
    margin: 20px 0 30px;
    text-transform: uppercase;
    width: 100%;
    font-weight: $semibold;
    font-size: $font-size-subtitle;
  }
  &__list{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__item{
    // width: 33%;
    flex: 0 0 33%;
    text-align: center;
    color: $white;
    @include mq($from:xs, $until:sm){
      flex: 0 0 100%;
    }
  }
  &__link{
    display: inline-block;
    margin: 30px 0 10px;
    color: $white;
    &:hover, &:focus{
      color: $white;
      text-decoration: underline;   
    }
  }
}
.circlechart{
  position: relative;
  margin: 0 auto;
  width: 135px;
  height: 135px;
  &__circle1{
    &:before, &:after{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 135px;
      height: 135px;
      border: 10px solid #023e73;
      border-radius: 50%;
      clip: rect(0, 67px, 135px, 0);
    }    
    &:before{
      transform: rotate(0deg);
    }
    &:after{
      transform: rotate(-30deg);
    }
  }
  &__circle2{
    &:before, &:after{
      content: '';
      display: block;
      position: absolute;
      top: 12px;
      left: 12px;
      width: 111px;
      height: 111px;
      border: 10px solid #0a5da6;
      border-radius: 50%;
      clip: rect(0, 55px, 110px, 0);
    }
    &:before{
      transform: rotate(0deg);
    }
    &:after{
      transform: rotate(-45deg);
    }
  }
  &__circle3{
    &:before, &:after{
      content: '';
      display: block;
      position: absolute;
      top: 24px;
      left: 24px;
      width: 87px;
      height: 87px;
      border: 8px solid #177bc6;
      border-radius: 50%;
      clip: rect(0, 43px, 87px, 0);
    }
    &:before{
      transform: rotate(0deg);
    }
    &:after{
      transform: rotate(-60deg);
    }
  } 
  &__number{
    display: block;
    position: absolute;
    width: 69px;
    height: 69px;
    line-height: 69px;
    background-color: #2e5d8c;
    border-radius: 50%;
    top: 33px;
    left: 33px;
  }
}