@include font-face('Circe-Regular', circe, regular, crc55);
@include font-face('Circe-Bold', circe, bold, crc65);
@include font-face('Circe-Light', circe, light, crc35);
@include font-face('ProximaNova-Light', proxima-nova, light, proxima_nova_light-webfont);
@include font-face('ProximaNova-Bold', proxima-nova, bold, proxima_nova_bold-webfont);

h2.landing-title{
  font-family: "Circe-Bold", sans-serif;
  font-size: 36px;
  line-height: 1;
  color: $main-blue;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
  &.-white{  color: #ffffff;}
  &.-smaller-margin{
    margin-bottom: 40px;
    margin-top: 70px;
  }
}

h2.inner-title{
  font-family: "Circe-Bold", sans-serif;
  font-size: 18px;
  line-height: 1;
  color: $black;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 20px;
  &.-unmargintop{
    margin-top: 0;
  }
}

p.inner-text{
  font-family: "Circe-Regular", sans-serif;
  font-size: 16px;
  margin: 0;
  margin-bottom: 20px;
}

a{
  text-decoration: none;
  color: $main-blue;
  &:hover{
    color: $main-blue_hover;
  }
}

span.dash-line{
  display: inline-block;
  width: 12px;
  font-family: Circle-Regular, sans-serif;
  font-size: 16px;
  color: $black;
  margin-right: 10px;
}