/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-arrow-left-name: 's-arrow-left';
$s-arrow-left-x: 330px;
$s-arrow-left-y: 199px;
$s-arrow-left-offset-x: -330px;
$s-arrow-left-offset-y: -199px;
$s-arrow-left-width: 9px;
$s-arrow-left-height: 15px;
$s-arrow-left-total-width: 343px;
$s-arrow-left-total-height: 273px;
$s-arrow-left-image: '../img/png-sprite.png';
$s-arrow-left: (330px, 199px, -330px, -199px, 9px, 15px, 343px, 273px, '../img/png-sprite.png', 's-arrow-left', );
$s-arrow-right-name: 's-arrow-right';
$s-arrow-right-x: 330px;
$s-arrow-right-y: 184px;
$s-arrow-right-offset-x: -330px;
$s-arrow-right-offset-y: -184px;
$s-arrow-right-width: 9px;
$s-arrow-right-height: 15px;
$s-arrow-right-total-width: 343px;
$s-arrow-right-total-height: 273px;
$s-arrow-right-image: '../img/png-sprite.png';
$s-arrow-right: (330px, 184px, -330px, -184px, 9px, 15px, 343px, 273px, '../img/png-sprite.png', 's-arrow-right', );
$s-fixed-doc-name: 's-fixed-doc';
$s-fixed-doc-x: 238px;
$s-fixed-doc-y: 153px;
$s-fixed-doc-offset-x: -238px;
$s-fixed-doc-offset-y: -153px;
$s-fixed-doc-width: 38px;
$s-fixed-doc-height: 38px;
$s-fixed-doc-total-width: 343px;
$s-fixed-doc-total-height: 273px;
$s-fixed-doc-image: '../img/png-sprite.png';
$s-fixed-doc: (238px, 153px, -238px, -153px, 38px, 38px, 343px, 273px, '../img/png-sprite.png', 's-fixed-doc', );
$s-fixed-percent-name: 's-fixed-percent';
$s-fixed-percent-x: 160px;
$s-fixed-percent-y: 165px;
$s-fixed-percent-offset-x: -160px;
$s-fixed-percent-offset-y: -165px;
$s-fixed-percent-width: 38px;
$s-fixed-percent-height: 38px;
$s-fixed-percent-total-width: 343px;
$s-fixed-percent-total-height: 273px;
$s-fixed-percent-image: '../img/png-sprite.png';
$s-fixed-percent: (160px, 165px, -160px, -165px, 38px, 38px, 343px, 273px, '../img/png-sprite.png', 's-fixed-percent', );
$s-fixed-tel-name: 's-fixed-tel';
$s-fixed-tel-x: 198px;
$s-fixed-tel-y: 165px;
$s-fixed-tel-offset-x: -198px;
$s-fixed-tel-offset-y: -165px;
$s-fixed-tel-width: 38px;
$s-fixed-tel-height: 38px;
$s-fixed-tel-total-width: 343px;
$s-fixed-tel-total-height: 273px;
$s-fixed-tel-image: '../img/png-sprite.png';
$s-fixed-tel: (198px, 165px, -198px, -165px, 38px, 38px, 343px, 273px, '../img/png-sprite.png', 's-fixed-tel', );
$s-fixed-up-name: 's-fixed-up';
$s-fixed-up-x: 84px;
$s-fixed-up-y: 165px;
$s-fixed-up-offset-x: -84px;
$s-fixed-up-offset-y: -165px;
$s-fixed-up-width: 38px;
$s-fixed-up-height: 38px;
$s-fixed-up-total-width: 343px;
$s-fixed-up-total-height: 273px;
$s-fixed-up-image: '../img/png-sprite.png';
$s-fixed-up: (84px, 165px, -84px, -165px, 38px, 38px, 343px, 273px, '../img/png-sprite.png', 's-fixed-up', );
$s-fixed-vk-name: 's-fixed-vk';
$s-fixed-vk-x: 122px;
$s-fixed-vk-y: 165px;
$s-fixed-vk-offset-x: -122px;
$s-fixed-vk-offset-y: -165px;
$s-fixed-vk-width: 38px;
$s-fixed-vk-height: 38px;
$s-fixed-vk-total-width: 343px;
$s-fixed-vk-total-height: 273px;
$s-fixed-vk-image: '../img/png-sprite.png';
$s-fixed-vk: (122px, 165px, -122px, -165px, 38px, 38px, 343px, 273px, '../img/png-sprite.png', 's-fixed-vk', );
$s-icon-doc-name: 's-icon-doc';
$s-icon-doc-x: 277px;
$s-icon-doc-y: 223px;
$s-icon-doc-offset-x: -277px;
$s-icon-doc-offset-y: -223px;
$s-icon-doc-width: 17px;
$s-icon-doc-height: 18px;
$s-icon-doc-total-width: 343px;
$s-icon-doc-total-height: 273px;
$s-icon-doc-image: '../img/png-sprite.png';
$s-icon-doc: (277px, 223px, -277px, -223px, 17px, 18px, 343px, 273px, '../img/png-sprite.png', 's-icon-doc', );
$s-icon-down-name: 's-icon-down';
$s-icon-down-x: 335px;
$s-icon-down-y: 72px;
$s-icon-down-offset-x: -335px;
$s-icon-down-offset-y: -72px;
$s-icon-down-width: 8px;
$s-icon-down-height: 5px;
$s-icon-down-total-width: 343px;
$s-icon-down-total-height: 273px;
$s-icon-down-image: '../img/png-sprite.png';
$s-icon-down: (335px, 72px, -335px, -72px, 8px, 5px, 343px, 273px, '../img/png-sprite.png', 's-icon-down', );
$s-icon-nav-1-name: 's-icon-nav-1';
$s-icon-nav-1-x: 0px;
$s-icon-nav-1-y: 241px;
$s-icon-nav-1-offset-x: 0px;
$s-icon-nav-1-offset-y: -241px;
$s-icon-nav-1-width: 41px;
$s-icon-nav-1-height: 32px;
$s-icon-nav-1-total-width: 343px;
$s-icon-nav-1-total-height: 273px;
$s-icon-nav-1-image: '../img/png-sprite.png';
$s-icon-nav-1: (0px, 241px, 0px, -241px, 41px, 32px, 343px, 273px, '../img/png-sprite.png', 's-icon-nav-1', );
$s-icon-nav-2-name: 's-icon-nav-2';
$s-icon-nav-2-x: 238px;
$s-icon-nav-2-y: 115px;
$s-icon-nav-2-offset-x: -238px;
$s-icon-nav-2-offset-y: -115px;
$s-icon-nav-2-width: 38px;
$s-icon-nav-2-height: 38px;
$s-icon-nav-2-total-width: 343px;
$s-icon-nav-2-total-height: 273px;
$s-icon-nav-2-image: '../img/png-sprite.png';
$s-icon-nav-2: (238px, 115px, -238px, -115px, 38px, 38px, 343px, 273px, '../img/png-sprite.png', 's-icon-nav-2', );
$s-icon-nav-3-name: 's-icon-nav-3';
$s-icon-nav-3-x: 0px;
$s-icon-nav-3-y: 0px;
$s-icon-nav-3-offset-x: 0px;
$s-icon-nav-3-offset-y: 0px;
$s-icon-nav-3-width: 63px;
$s-icon-nav-3-height: 47px;
$s-icon-nav-3-total-width: 343px;
$s-icon-nav-3-total-height: 273px;
$s-icon-nav-3-image: '../img/png-sprite.png';
$s-icon-nav-3: (0px, 0px, 0px, 0px, 63px, 47px, 343px, 273px, '../img/png-sprite.png', 's-icon-nav-3', );
$s-icon-nav-4-name: 's-icon-nav-4';
$s-icon-nav-4-x: 199px;
$s-icon-nav-4-y: 203px;
$s-icon-nav-4-offset-x: -199px;
$s-icon-nav-4-offset-y: -203px;
$s-icon-nav-4-width: 32px;
$s-icon-nav-4-height: 22px;
$s-icon-nav-4-total-width: 343px;
$s-icon-nav-4-total-height: 273px;
$s-icon-nav-4-image: '../img/png-sprite.png';
$s-icon-nav-4: (199px, 203px, -199px, -203px, 32px, 22px, 343px, 273px, '../img/png-sprite.png', 's-icon-nav-4', );
$s-icon-nav-5-name: 's-icon-nav-5';
$s-icon-nav-5-x: 277px;
$s-icon-nav-5-y: 164px;
$s-icon-nav-5-offset-x: -277px;
$s-icon-nav-5-offset-y: -164px;
$s-icon-nav-5-width: 26px;
$s-icon-nav-5-height: 33px;
$s-icon-nav-5-total-width: 343px;
$s-icon-nav-5-total-height: 273px;
$s-icon-nav-5-image: '../img/png-sprite.png';
$s-icon-nav-5: (277px, 164px, -277px, -164px, 26px, 33px, 343px, 273px, '../img/png-sprite.png', 's-icon-nav-5', );
$s-icon-nav-6-name: 's-icon-nav-6';
$s-icon-nav-6-x: 43px;
$s-icon-nav-6-y: 90px;
$s-icon-nav-6-offset-x: -43px;
$s-icon-nav-6-offset-y: -90px;
$s-icon-nav-6-width: 46px;
$s-icon-nav-6-height: 37px;
$s-icon-nav-6-total-width: 343px;
$s-icon-nav-6-total-height: 273px;
$s-icon-nav-6-image: '../img/png-sprite.png';
$s-icon-nav-6: (43px, 90px, -43px, -90px, 46px, 37px, 343px, 273px, '../img/png-sprite.png', 's-icon-nav-6', );
$s-icon-nav-7-name: 's-icon-nav-7';
$s-icon-nav-7-x: 167px;
$s-icon-nav-7-y: 203px;
$s-icon-nav-7-offset-x: -167px;
$s-icon-nav-7-offset-y: -203px;
$s-icon-nav-7-width: 32px;
$s-icon-nav-7-height: 30px;
$s-icon-nav-7-total-width: 343px;
$s-icon-nav-7-total-height: 273px;
$s-icon-nav-7-image: '../img/png-sprite.png';
$s-icon-nav-7: (167px, 203px, -167px, -203px, 32px, 30px, 343px, 273px, '../img/png-sprite.png', 's-icon-nav-7', );
$s-icon-nav-8-name: 's-icon-nav-8';
$s-icon-nav-8-x: 307px;
$s-icon-nav-8-y: 148px;
$s-icon-nav-8-offset-x: -307px;
$s-icon-nav-8-offset-y: -148px;
$s-icon-nav-8-width: 29px;
$s-icon-nav-8-height: 36px;
$s-icon-nav-8-total-width: 343px;
$s-icon-nav-8-total-height: 273px;
$s-icon-nav-8-image: '../img/png-sprite.png';
$s-icon-nav-8: (307px, 148px, -307px, -148px, 29px, 36px, 343px, 273px, '../img/png-sprite.png', 's-icon-nav-8', );
$s-icon-phone-name: 's-icon-phone';
$s-icon-phone-x: 231px;
$s-icon-phone-y: 203px;
$s-icon-phone-offset-x: -231px;
$s-icon-phone-offset-y: -203px;
$s-icon-phone-width: 21px;
$s-icon-phone-height: 21px;
$s-icon-phone-total-width: 343px;
$s-icon-phone-total-height: 273px;
$s-icon-phone-image: '../img/png-sprite.png';
$s-icon-phone: (231px, 203px, -231px, -203px, 21px, 21px, 343px, 273px, '../img/png-sprite.png', 's-icon-phone', );
$s-icon-se-1-name: 's-icon-se-1';
$s-icon-se-1-x: 197px;
$s-icon-se-1-y: 118px;
$s-icon-se-1-offset-x: -197px;
$s-icon-se-1-offset-y: -118px;
$s-icon-se-1-width: 39px;
$s-icon-se-1-height: 40px;
$s-icon-se-1-total-width: 343px;
$s-icon-se-1-total-height: 273px;
$s-icon-se-1-image: '../img/png-sprite.png';
$s-icon-se-1: (197px, 118px, -197px, -118px, 39px, 40px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-1', );
$s-icon-se-10-name: 's-icon-se-10';
$s-icon-se-10-x: 307px;
$s-icon-se-10-y: 110px;
$s-icon-se-10-offset-x: -307px;
$s-icon-se-10-offset-y: -110px;
$s-icon-se-10-width: 28px;
$s-icon-se-10-height: 38px;
$s-icon-se-10-total-width: 343px;
$s-icon-se-10-total-height: 273px;
$s-icon-se-10-image: '../img/png-sprite.png';
$s-icon-se-10: (307px, 110px, -307px, -110px, 28px, 38px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-10', );
$s-icon-se-10b-name: 's-icon-se-10b';
$s-icon-se-10b-x: 307px;
$s-icon-se-10b-y: 72px;
$s-icon-se-10b-offset-x: -307px;
$s-icon-se-10b-offset-y: -72px;
$s-icon-se-10b-width: 28px;
$s-icon-se-10b-height: 38px;
$s-icon-se-10b-total-width: 343px;
$s-icon-se-10b-total-height: 273px;
$s-icon-se-10b-image: '../img/png-sprite.png';
$s-icon-se-10b: (307px, 72px, -307px, -72px, 28px, 38px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-10b', );
$s-icon-se-11-name: 's-icon-se-11';
$s-icon-se-11-x: 101px;
$s-icon-se-11-y: 133px;
$s-icon-se-11-offset-x: -101px;
$s-icon-se-11-offset-y: -133px;
$s-icon-se-11-width: 49px;
$s-icon-se-11-height: 32px;
$s-icon-se-11-total-width: 343px;
$s-icon-se-11-total-height: 273px;
$s-icon-se-11-image: '../img/png-sprite.png';
$s-icon-se-11: (101px, 133px, -101px, -133px, 49px, 32px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-11', );
$s-icon-se-11b-name: 's-icon-se-11b';
$s-icon-se-11b-x: 52px;
$s-icon-se-11b-y: 133px;
$s-icon-se-11b-offset-x: -52px;
$s-icon-se-11b-offset-y: -133px;
$s-icon-se-11b-width: 49px;
$s-icon-se-11b-height: 32px;
$s-icon-se-11b-total-width: 343px;
$s-icon-se-11b-total-height: 273px;
$s-icon-se-11b-image: '../img/png-sprite.png';
$s-icon-se-11b: (52px, 133px, -52px, -133px, 49px, 32px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-11b', );
$s-icon-se-12-name: 's-icon-se-12';
$s-icon-se-12-x: 238px;
$s-icon-se-12-y: 77px;
$s-icon-se-12-offset-x: -238px;
$s-icon-se-12-offset-y: -77px;
$s-icon-se-12-width: 39px;
$s-icon-se-12-height: 38px;
$s-icon-se-12-total-width: 343px;
$s-icon-se-12-total-height: 273px;
$s-icon-se-12-image: '../img/png-sprite.png';
$s-icon-se-12: (238px, 77px, -238px, -77px, 39px, 38px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-12', );
$s-icon-se-12b-name: 's-icon-se-12b';
$s-icon-se-12b-x: 238px;
$s-icon-se-12b-y: 39px;
$s-icon-se-12b-offset-x: -238px;
$s-icon-se-12b-offset-y: -39px;
$s-icon-se-12b-width: 39px;
$s-icon-se-12b-height: 38px;
$s-icon-se-12b-total-width: 343px;
$s-icon-se-12b-total-height: 273px;
$s-icon-se-12b-image: '../img/png-sprite.png';
$s-icon-se-12b: (238px, 39px, -238px, -39px, 39px, 38px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-12b', );
$s-icon-se-13-name: 's-icon-se-13';
$s-icon-se-13-x: 42px;
$s-icon-se-13-y: 165px;
$s-icon-se-13-offset-x: -42px;
$s-icon-se-13-offset-y: -165px;
$s-icon-se-13-width: 42px;
$s-icon-se-13-height: 38px;
$s-icon-se-13-total-width: 343px;
$s-icon-se-13-total-height: 273px;
$s-icon-se-13-image: '../img/png-sprite.png';
$s-icon-se-13: (42px, 165px, -42px, -165px, 42px, 38px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-13', );
$s-icon-se-13b-name: 's-icon-se-13b';
$s-icon-se-13b-x: 0px;
$s-icon-se-13b-y: 165px;
$s-icon-se-13b-offset-x: 0px;
$s-icon-se-13b-offset-y: -165px;
$s-icon-se-13b-width: 42px;
$s-icon-se-13b-height: 38px;
$s-icon-se-13b-total-width: 343px;
$s-icon-se-13b-total-height: 273px;
$s-icon-se-13b-image: '../img/png-sprite.png';
$s-icon-se-13b: (0px, 165px, 0px, -165px, 42px, 38px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-13b', );
$s-icon-se-14-name: 's-icon-se-14';
$s-icon-se-14-x: 238px;
$s-icon-se-14-y: 0px;
$s-icon-se-14-offset-x: -238px;
$s-icon-se-14-offset-y: 0px;
$s-icon-se-14-width: 39px;
$s-icon-se-14-height: 39px;
$s-icon-se-14-total-width: 343px;
$s-icon-se-14-total-height: 273px;
$s-icon-se-14-image: '../img/png-sprite.png';
$s-icon-se-14: (238px, 0px, -238px, 0px, 39px, 39px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-14', );
$s-icon-se-14b-name: 's-icon-se-14b';
$s-icon-se-14b-x: 157px;
$s-icon-se-14b-y: 90px;
$s-icon-se-14b-offset-x: -157px;
$s-icon-se-14b-offset-y: -90px;
$s-icon-se-14b-width: 39px;
$s-icon-se-14b-height: 39px;
$s-icon-se-14b-total-width: 343px;
$s-icon-se-14b-total-height: 273px;
$s-icon-se-14b-image: '../img/png-sprite.png';
$s-icon-se-14b: (157px, 90px, -157px, -90px, 39px, 39px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-14b', );
$s-icon-se-15-name: 's-icon-se-15';
$s-icon-se-15-x: 108px;
$s-icon-se-15-y: 39px;
$s-icon-se-15-offset-x: -108px;
$s-icon-se-15-offset-y: -39px;
$s-icon-se-15-width: 43px;
$s-icon-se-15-height: 43px;
$s-icon-se-15-total-width: 343px;
$s-icon-se-15-total-height: 273px;
$s-icon-se-15-image: '../img/png-sprite.png';
$s-icon-se-15: (108px, 39px, -108px, -39px, 43px, 43px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-15', );
$s-icon-se-15b-name: 's-icon-se-15b';
$s-icon-se-15b-x: 0px;
$s-icon-se-15b-y: 90px;
$s-icon-se-15b-offset-x: 0px;
$s-icon-se-15b-offset-y: -90px;
$s-icon-se-15b-width: 43px;
$s-icon-se-15b-height: 43px;
$s-icon-se-15b-total-width: 343px;
$s-icon-se-15b-total-height: 273px;
$s-icon-se-15b-image: '../img/png-sprite.png';
$s-icon-se-15b: (0px, 90px, 0px, -90px, 43px, 43px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-15b', );
$s-icon-se-16-name: 's-icon-se-16';
$s-icon-se-16-x: 197px;
$s-icon-se-16-y: 39px;
$s-icon-se-16-offset-x: -197px;
$s-icon-se-16-offset-y: -39px;
$s-icon-se-16-width: 41px;
$s-icon-se-16-height: 39px;
$s-icon-se-16-total-width: 343px;
$s-icon-se-16-total-height: 273px;
$s-icon-se-16-image: '../img/png-sprite.png';
$s-icon-se-16: (197px, 39px, -197px, -39px, 41px, 39px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-16', );
$s-icon-se-16b-name: 's-icon-se-16b';
$s-icon-se-16b-x: 197px;
$s-icon-se-16b-y: 0px;
$s-icon-se-16b-offset-x: -197px;
$s-icon-se-16b-offset-y: 0px;
$s-icon-se-16b-width: 41px;
$s-icon-se-16b-height: 39px;
$s-icon-se-16b-total-width: 343px;
$s-icon-se-16b-total-height: 273px;
$s-icon-se-16b-image: '../img/png-sprite.png';
$s-icon-se-16b: (197px, 0px, -197px, 0px, 41px, 39px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-16b', );
$s-icon-se-17-name: 's-icon-se-17';
$s-icon-se-17-x: 150px;
$s-icon-se-17-y: 133px;
$s-icon-se-17-offset-x: -150px;
$s-icon-se-17-offset-y: -133px;
$s-icon-se-17-width: 43px;
$s-icon-se-17-height: 31px;
$s-icon-se-17-total-width: 343px;
$s-icon-se-17-total-height: 273px;
$s-icon-se-17-image: '../img/png-sprite.png';
$s-icon-se-17: (150px, 133px, -150px, -133px, 43px, 31px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-17', );
$s-icon-se-17b-name: 's-icon-se-17b';
$s-icon-se-17b-x: 124px;
$s-icon-se-17b-y: 203px;
$s-icon-se-17b-offset-x: -124px;
$s-icon-se-17b-offset-y: -203px;
$s-icon-se-17b-width: 43px;
$s-icon-se-17b-height: 31px;
$s-icon-se-17b-total-width: 343px;
$s-icon-se-17b-total-height: 273px;
$s-icon-se-17b-image: '../img/png-sprite.png';
$s-icon-se-17b: (124px, 203px, -124px, -203px, 43px, 31px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-17b', );
$s-icon-se-18-name: 's-icon-se-18';
$s-icon-se-18-x: 277px;
$s-icon-se-18-y: 88px;
$s-icon-se-18-offset-x: -277px;
$s-icon-se-18-offset-y: -88px;
$s-icon-se-18-width: 25px;
$s-icon-se-18-height: 38px;
$s-icon-se-18-total-width: 343px;
$s-icon-se-18-total-height: 273px;
$s-icon-se-18-image: '../img/png-sprite.png';
$s-icon-se-18: (277px, 88px, -277px, -88px, 25px, 38px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-18', );
$s-icon-se-18b-name: 's-icon-se-18b';
$s-icon-se-18b-x: 277px;
$s-icon-se-18b-y: 126px;
$s-icon-se-18b-offset-x: -277px;
$s-icon-se-18b-offset-y: -126px;
$s-icon-se-18b-width: 25px;
$s-icon-se-18b-height: 38px;
$s-icon-se-18b-total-width: 343px;
$s-icon-se-18b-total-height: 273px;
$s-icon-se-18b-image: '../img/png-sprite.png';
$s-icon-se-18b: (277px, 126px, -277px, -126px, 25px, 38px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-18b', );
$s-icon-se-1b-name: 's-icon-se-1b';
$s-icon-se-1b-x: 197px;
$s-icon-se-1b-y: 78px;
$s-icon-se-1b-offset-x: -197px;
$s-icon-se-1b-offset-y: -78px;
$s-icon-se-1b-width: 39px;
$s-icon-se-1b-height: 40px;
$s-icon-se-1b-total-width: 343px;
$s-icon-se-1b-total-height: 273px;
$s-icon-se-1b-image: '../img/png-sprite.png';
$s-icon-se-1b: (197px, 78px, -197px, -78px, 39px, 40px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-1b', );
$s-icon-se-2-name: 's-icon-se-2';
$s-icon-se-2-x: 277px;
$s-icon-se-2-y: 0px;
$s-icon-se-2-offset-x: -277px;
$s-icon-se-2-offset-y: 0px;
$s-icon-se-2-width: 30px;
$s-icon-se-2-height: 44px;
$s-icon-se-2-total-width: 343px;
$s-icon-se-2-total-height: 273px;
$s-icon-se-2-image: '../img/png-sprite.png';
$s-icon-se-2: (277px, 0px, -277px, 0px, 30px, 44px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-2', );
$s-icon-se-2b-name: 's-icon-se-2b';
$s-icon-se-2b-x: 277px;
$s-icon-se-2b-y: 44px;
$s-icon-se-2b-offset-x: -277px;
$s-icon-se-2b-offset-y: -44px;
$s-icon-se-2b-width: 30px;
$s-icon-se-2b-height: 44px;
$s-icon-se-2b-total-width: 343px;
$s-icon-se-2b-total-height: 273px;
$s-icon-se-2b-image: '../img/png-sprite.png';
$s-icon-se-2b: (277px, 44px, -277px, -44px, 30px, 44px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-2b', );
$s-icon-se-3-name: 's-icon-se-3';
$s-icon-se-3-x: 157px;
$s-icon-se-3-y: 0px;
$s-icon-se-3-offset-x: -157px;
$s-icon-se-3-offset-y: 0px;
$s-icon-se-3-width: 40px;
$s-icon-se-3-height: 45px;
$s-icon-se-3-total-width: 343px;
$s-icon-se-3-total-height: 273px;
$s-icon-se-3-image: '../img/png-sprite.png';
$s-icon-se-3: (157px, 0px, -157px, 0px, 40px, 45px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-3', );
$s-icon-se-3b-name: 's-icon-se-3b';
$s-icon-se-3b-x: 157px;
$s-icon-se-3b-y: 45px;
$s-icon-se-3b-offset-x: -157px;
$s-icon-se-3b-offset-y: -45px;
$s-icon-se-3b-width: 40px;
$s-icon-se-3b-height: 45px;
$s-icon-se-3b-total-width: 343px;
$s-icon-se-3b-total-height: 273px;
$s-icon-se-3b-image: '../img/png-sprite.png';
$s-icon-se-3b: (157px, 45px, -157px, -45px, 40px, 45px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-3b', );
$s-icon-se-4-name: 's-icon-se-4';
$s-icon-se-4-x: 307px;
$s-icon-se-4-y: 226px;
$s-icon-se-4-offset-x: -307px;
$s-icon-se-4-offset-y: -226px;
$s-icon-se-4-width: 23px;
$s-icon-se-4-height: 42px;
$s-icon-se-4-total-width: 343px;
$s-icon-se-4-total-height: 273px;
$s-icon-se-4-image: '../img/png-sprite.png';
$s-icon-se-4: (307px, 226px, -307px, -226px, 23px, 42px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-4', );
$s-icon-se-4b-name: 's-icon-se-4b';
$s-icon-se-4b-x: 307px;
$s-icon-se-4b-y: 184px;
$s-icon-se-4b-offset-x: -307px;
$s-icon-se-4b-offset-y: -184px;
$s-icon-se-4b-width: 23px;
$s-icon-se-4b-height: 42px;
$s-icon-se-4b-total-width: 343px;
$s-icon-se-4b-total-height: 273px;
$s-icon-se-4b-image: '../img/png-sprite.png';
$s-icon-se-4b: (307px, 184px, -307px, -184px, 23px, 42px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-4b', );
$s-icon-se-5-name: 's-icon-se-5';
$s-icon-se-5-x: 307px;
$s-icon-se-5-y: 36px;
$s-icon-se-5-offset-x: -307px;
$s-icon-se-5-offset-y: -36px;
$s-icon-se-5-width: 36px;
$s-icon-se-5-height: 36px;
$s-icon-se-5-total-width: 343px;
$s-icon-se-5-total-height: 273px;
$s-icon-se-5-image: '../img/png-sprite.png';
$s-icon-se-5: (307px, 36px, -307px, -36px, 36px, 36px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-5', );
$s-icon-se-5b-name: 's-icon-se-5b';
$s-icon-se-5b-x: 307px;
$s-icon-se-5b-y: 0px;
$s-icon-se-5b-offset-x: -307px;
$s-icon-se-5b-offset-y: 0px;
$s-icon-se-5b-width: 36px;
$s-icon-se-5b-height: 36px;
$s-icon-se-5b-total-width: 343px;
$s-icon-se-5b-total-height: 273px;
$s-icon-se-5b-image: '../img/png-sprite.png';
$s-icon-se-5b: (307px, 0px, -307px, 0px, 36px, 36px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-5b', );
$s-icon-se-6-name: 's-icon-se-6';
$s-icon-se-6-x: 81px;
$s-icon-se-6-y: 203px;
$s-icon-se-6-offset-x: -81px;
$s-icon-se-6-offset-y: -203px;
$s-icon-se-6-width: 43px;
$s-icon-se-6-height: 33px;
$s-icon-se-6-total-width: 343px;
$s-icon-se-6-total-height: 273px;
$s-icon-se-6-image: '../img/png-sprite.png';
$s-icon-se-6: (81px, 203px, -81px, -203px, 43px, 33px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-6', );
$s-icon-se-6b-name: 's-icon-se-6b';
$s-icon-se-6b-x: 38px;
$s-icon-se-6b-y: 203px;
$s-icon-se-6b-offset-x: -38px;
$s-icon-se-6b-offset-y: -203px;
$s-icon-se-6b-width: 43px;
$s-icon-se-6b-height: 33px;
$s-icon-se-6b-total-width: 343px;
$s-icon-se-6b-total-height: 273px;
$s-icon-se-6b-image: '../img/png-sprite.png';
$s-icon-se-6b: (38px, 203px, -38px, -203px, 43px, 33px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-6b', );
$s-icon-se-7-name: 's-icon-se-7';
$s-icon-se-7-x: 0px;
$s-icon-se-7-y: 47px;
$s-icon-se-7-offset-x: 0px;
$s-icon-se-7-offset-y: -47px;
$s-icon-se-7-width: 45px;
$s-icon-se-7-height: 43px;
$s-icon-se-7-total-width: 343px;
$s-icon-se-7-total-height: 273px;
$s-icon-se-7-image: '../img/png-sprite.png';
$s-icon-se-7: (0px, 47px, 0px, -47px, 45px, 43px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-7', );
$s-icon-se-7b-name: 's-icon-se-7b';
$s-icon-se-7b-x: 63px;
$s-icon-se-7b-y: 0px;
$s-icon-se-7b-offset-x: -63px;
$s-icon-se-7b-offset-y: 0px;
$s-icon-se-7b-width: 45px;
$s-icon-se-7b-height: 43px;
$s-icon-se-7b-total-width: 343px;
$s-icon-se-7b-total-height: 273px;
$s-icon-se-7b-image: '../img/png-sprite.png';
$s-icon-se-7b: (63px, 0px, -63px, 0px, 45px, 43px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-7b', );
$s-icon-se-8-name: 's-icon-se-8';
$s-icon-se-8-x: 108px;
$s-icon-se-8-y: 0px;
$s-icon-se-8-offset-x: -108px;
$s-icon-se-8-offset-y: 0px;
$s-icon-se-8-width: 49px;
$s-icon-se-8-height: 39px;
$s-icon-se-8-total-width: 343px;
$s-icon-se-8-total-height: 273px;
$s-icon-se-8-image: '../img/png-sprite.png';
$s-icon-se-8: (108px, 0px, -108px, 0px, 49px, 39px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-8', );
$s-icon-se-8b-name: 's-icon-se-8b';
$s-icon-se-8b-x: 45px;
$s-icon-se-8b-y: 47px;
$s-icon-se-8b-offset-x: -45px;
$s-icon-se-8b-offset-y: -47px;
$s-icon-se-8b-width: 49px;
$s-icon-se-8b-height: 39px;
$s-icon-se-8b-total-width: 343px;
$s-icon-se-8b-total-height: 273px;
$s-icon-se-8b-image: '../img/png-sprite.png';
$s-icon-se-8b: (45px, 47px, -45px, -47px, 49px, 39px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-8b', );
$s-icon-se-9-name: 's-icon-se-9';
$s-icon-se-9-x: 0px;
$s-icon-se-9-y: 133px;
$s-icon-se-9-offset-x: 0px;
$s-icon-se-9-offset-y: -133px;
$s-icon-se-9-width: 52px;
$s-icon-se-9-height: 32px;
$s-icon-se-9-total-width: 343px;
$s-icon-se-9-total-height: 273px;
$s-icon-se-9-image: '../img/png-sprite.png';
$s-icon-se-9: (0px, 133px, 0px, -133px, 52px, 32px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-9', );
$s-icon-se-9b-name: 's-icon-se-9b';
$s-icon-se-9b-x: 89px;
$s-icon-se-9b-y: 90px;
$s-icon-se-9b-offset-x: -89px;
$s-icon-se-9b-offset-y: -90px;
$s-icon-se-9b-width: 52px;
$s-icon-se-9b-height: 32px;
$s-icon-se-9b-total-width: 343px;
$s-icon-se-9b-total-height: 273px;
$s-icon-se-9b-image: '../img/png-sprite.png';
$s-icon-se-9b: (89px, 90px, -89px, -90px, 52px, 32px, 343px, 273px, '../img/png-sprite.png', 's-icon-se-9b', );
$s-icon-zoom-name: 's-icon-zoom';
$s-icon-zoom-x: 0px;
$s-icon-zoom-y: 203px;
$s-icon-zoom-offset-x: 0px;
$s-icon-zoom-offset-y: -203px;
$s-icon-zoom-width: 38px;
$s-icon-zoom-height: 38px;
$s-icon-zoom-total-width: 343px;
$s-icon-zoom-total-height: 273px;
$s-icon-zoom-image: '../img/png-sprite.png';
$s-icon-zoom: (0px, 203px, 0px, -203px, 38px, 38px, 343px, 273px, '../img/png-sprite.png', 's-icon-zoom', );
$s-skype-name: 's-skype';
$s-skype-x: 252px;
$s-skype-y: 203px;
$s-skype-offset-x: -252px;
$s-skype-offset-y: -203px;
$s-skype-width: 18px;
$s-skype-height: 19px;
$s-skype-total-width: 343px;
$s-skype-total-height: 273px;
$s-skype-image: '../img/png-sprite.png';
$s-skype: (252px, 203px, -252px, -203px, 18px, 19px, 343px, 273px, '../img/png-sprite.png', 's-skype', );
$s-social-fb-name: 's-social-fb';
$s-social-fb-x: 277px;
$s-social-fb-y: 197px;
$s-social-fb-offset-x: -277px;
$s-social-fb-offset-y: -197px;
$s-social-fb-width: 26px;
$s-social-fb-height: 26px;
$s-social-fb-total-width: 343px;
$s-social-fb-total-height: 273px;
$s-social-fb-image: '../img/png-sprite.png';
$s-social-fb: (277px, 197px, -277px, -197px, 26px, 26px, 343px, 273px, '../img/png-sprite.png', 's-social-fb', );
$s-social-google-name: 's-social-google';
$s-social-google-x: 119px;
$s-social-google-y: 241px;
$s-social-google-offset-x: -119px;
$s-social-google-offset-y: -241px;
$s-social-google-width: 26px;
$s-social-google-height: 26px;
$s-social-google-total-width: 343px;
$s-social-google-total-height: 273px;
$s-social-google-image: '../img/png-sprite.png';
$s-social-google: (119px, 241px, -119px, -241px, 26px, 26px, 343px, 273px, '../img/png-sprite.png', 's-social-google', );
$s-social-ok-name: 's-social-ok';
$s-social-ok-x: 41px;
$s-social-ok-y: 241px;
$s-social-ok-offset-x: -41px;
$s-social-ok-offset-y: -241px;
$s-social-ok-width: 26px;
$s-social-ok-height: 26px;
$s-social-ok-total-width: 343px;
$s-social-ok-total-height: 273px;
$s-social-ok-image: '../img/png-sprite.png';
$s-social-ok: (41px, 241px, -41px, -241px, 26px, 26px, 343px, 273px, '../img/png-sprite.png', 's-social-ok', );
$s-social-skype-name: 's-social-skype';
$s-social-skype-x: 93px;
$s-social-skype-y: 241px;
$s-social-skype-offset-x: -93px;
$s-social-skype-offset-y: -241px;
$s-social-skype-width: 26px;
$s-social-skype-height: 26px;
$s-social-skype-total-width: 343px;
$s-social-skype-total-height: 273px;
$s-social-skype-image: '../img/png-sprite.png';
$s-social-skype: (93px, 241px, -93px, -241px, 26px, 26px, 343px, 273px, '../img/png-sprite.png', 's-social-skype', );
$s-social-vk-name: 's-social-vk';
$s-social-vk-x: 67px;
$s-social-vk-y: 241px;
$s-social-vk-offset-x: -67px;
$s-social-vk-offset-y: -241px;
$s-social-vk-width: 26px;
$s-social-vk-height: 26px;
$s-social-vk-total-width: 343px;
$s-social-vk-total-height: 273px;
$s-social-vk-image: '../img/png-sprite.png';
$s-social-vk: (67px, 241px, -67px, -241px, 26px, 26px, 343px, 273px, '../img/png-sprite.png', 's-social-vk', );
$spritesheet-width: 343px;
$spritesheet-height: 273px;
$spritesheet-image: '../img/png-sprite.png';
$spritesheet-sprites: ($s-arrow-left, $s-arrow-right, $s-fixed-doc, $s-fixed-percent, $s-fixed-tel, $s-fixed-up, $s-fixed-vk, $s-icon-doc, $s-icon-down, $s-icon-nav-1, $s-icon-nav-2, $s-icon-nav-3, $s-icon-nav-4, $s-icon-nav-5, $s-icon-nav-6, $s-icon-nav-7, $s-icon-nav-8, $s-icon-phone, $s-icon-se-1, $s-icon-se-10, $s-icon-se-10b, $s-icon-se-11, $s-icon-se-11b, $s-icon-se-12, $s-icon-se-12b, $s-icon-se-13, $s-icon-se-13b, $s-icon-se-14, $s-icon-se-14b, $s-icon-se-15, $s-icon-se-15b, $s-icon-se-16, $s-icon-se-16b, $s-icon-se-17, $s-icon-se-17b, $s-icon-se-18, $s-icon-se-18b, $s-icon-se-1b, $s-icon-se-2, $s-icon-se-2b, $s-icon-se-3, $s-icon-se-3b, $s-icon-se-4, $s-icon-se-4b, $s-icon-se-5, $s-icon-se-5b, $s-icon-se-6, $s-icon-se-6b, $s-icon-se-7, $s-icon-se-7b, $s-icon-se-8, $s-icon-se-8b, $s-icon-se-9, $s-icon-se-9b, $s-icon-zoom, $s-skype, $s-social-fb, $s-social-google, $s-social-ok, $s-social-skype, $s-social-vk, );
$spritesheet: (343px, 273px, '../img/png-sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
