include ../abstracts/bemto/bemto.pug

+b.SECTION.branches
  +e.H2.title 
    a(href="#") Сертификация по отраслям продукции
  +e.UL.list
    +e.item
      +e.link(href="page.html") Пищевая продукция 
    +e.item
      +e.link(href="page.html") Косметика              
    +e.item
      +e.link(href="page.html") Алкоголь 
    +e.item
      +e.link(href="page.html") Бытовая химия  
    +e.item
      +e.link(href="page.html") Легкая промышленность 
    +e.item
      +e.link(href="page.html") Обувь   
    +e.item
      +e.link(href="page.html") Товары для детей 
    +e.item
      +e.link(href="page.html") Игрушки              
    +e.item
      +e.link(href="page.html") Мебель 
    +e.item
      +e.link(href="page.html") Световое оборудование  
    +e.item
      +e.link(href="page.html") Бытовая техника 
    +e.item
      +e.link(href="page.html") Промышленное оборудование   
    +e.item
      +e.link(href="page.html") Строительные материалы 
    +e.item
      +e.link(href="page.html") Автомобильная техника и запчасти             
    +e.item
      +e.link(href="page.html") Упаковка 
    +e.item
      +e.link(href="page.html") Смазочные материалы и масла  
    +e.item
      +e.link(href="page.html") СИЗ 
    +e.item
      +e.link(href="page.html") БАДы   
