include ../abstracts/mixins/_client-slide.pug
include ../abstracts/bemto/bemto.pug

+b.SECTION.clients
  +e.H2.title Наши клиенты
  +e.gallery       
    +clientSlide("akm.png","akm")
    +clientSlide("altek.png","altek")
    +clientSlide("alterra.png","alterra")
    +clientSlide("avt_motors.png","avt_motors")
    +clientSlide("dito.png","dito")
    +clientSlide("efg.png","efg")
    +clientSlide("elgambra.png","elgambra")
    +clientSlide("energoprom.png","energoprom")
    +clientSlide("rpi.png","rpi")
    +clientSlide("rtk.png","rtk")
    +clientSlide("rustek_color.png","rustek_color")
    +clientSlide("sbc_color.png","sbc_color")