include ../abstracts/bemto/bemto.pug

// Footer
+b.FOOTER.footer.container
  +e.inner
    // Logo
    +b.logo
      +e.A.img(href="index.html")       
        img(src="img/logo.png", alt="logo", title="logo")
      +e.P.title Мостест
      +e.P.description Центр сертификации
    +e.wrapper
      // Main nav menu
      +b.NAV.nav
        +e.hamburger
          +b.A.hamburger(href="#")
        +e.UL.list
          +e.item 
            +e.link(href="page.html") О компании
          +e.slash | 
          +e.item 
            +e.link(href="page.html") Новости
          +e.slash | 
          +e.item
            +e.link(href="page.html") Полезная информация  
          +e.slash |      
          +e.item
            +e.link(href="page.html") Услуги 
          +e.slash | 
          +e.item
            +e.link(href="page.html") Отзывы
          +e.slash | 
          +e.item
            +e.link(href="page-contacts.html") Контакты 
      +b.city 
        +e.name-wrapper
          +e.name Санкт-Петербург
          +e.UL.dropdown
            +e.item(data-email= "spb@mostest.ru", data-tel= "+7 (812) 923-20-03", data-tel2= "+7 (812) 332-93-48") Санкт-Петербург
            +e.item(data-email= "16@mostest.ru", data-tel= "+7 (843) 258-55-24") Казань
            +e.item(data-email= "31@mostest.ru", data-tel= "+7 (919) 285-48-38") Белгород 
        +e.tel-wrapper 
          +e.A.tel(href="tel:+78129232003", target="_blank") +7 (812) 923-20-03
          +e.A.tel(href="tel:+78123329348", target="_blank") +7 (812) 332-93-48
        +e.email-wrapper 
          +e.A.email(href="mailto:spb@mostest.ru", target="_blank") spb@mostest.ru
      +e.buttons
          +b.A.btn--blue(href="#") Заказать звонок с сайта
          +b.A.btn--yellow(href="#") Задать вопрос эксперту
  +e.copyright © Сертификационный центр "Мостест" 2007-2016
// Side fixed menu
include side-fixed-menu.pug
+b.overlay


