include ../abstracts/bemto/bemto.pug
include ../abstracts/mixins/_gratitude-slide.pug

+b.SECTION.gratitude
  +e.H2.title 
    a(href="page-reviews.html") Благодарственные письма
  +e.gallery
    +gratitudeSlide("1.jpg","Отзыв 1")
    +gratitudeSlide("2.jpg","Отзыв 2")
    +gratitudeSlide("3.jpg","Отзыв 3")
    +gratitudeSlide("4.jpg","Отзыв 4")


