include ../abstracts/bemto/bemto.pug

// Header
+b.HEADER.header.container
  +e.inner
    // Logo
    +b.logo
      +e.A.img(href="index.html")       
        img(src="img/logo.png", alt="logo", title="logo")
      +e.P.title Мостест
      +e.P.description Центр сертификации
    +e.wrapper
      // Main nav menu
      +b.NAV.nav
        +e.hamburger
          +b.A.hamburger(href="#")
            span
        +e.list-wrapper            
          +e.UL.list
            +e.item 
              +e.link(href="page.html") О компании
            +e.slash | 
            +e.item 
              +e.link(href="page.html") Новости
            +e.slash | 
            +e.item
              +e.link(href="page.html") Полезная информация  
            +e.slash |      
            +e.item
              +e.link(href="page.html") Услуги 
            +e.slash | 
            +e.item
              +e.link(href="page.html") Отзывы
            +e.slash | 
            +e.item
              +e.link(href="page-contacts.html") Контакты 
      +b.city 
        +e.name-wrapper
          +e.name Санкт-Петербург
          +e.UL.dropdown
            +e.item(data-email= "spb@mostest.ru", data-tel= "+7 (812) 923-20-03", data-tel2= "+7 (812) 332-93-48") Санкт-Петербург
            +e.item(data-email= "16@mostest.ru", data-tel= "+7 (843) 258-55-24") Казань
            +e.item(data-email= "31@mostest.ru", data-tel= "+7 (919) 285-48-38") Белгород 
        +e.tel-wrapper 
          +e.A.tel(href="tel:+78129232003", target="_blank") +7 (812) 923-20-03
          +e.A.tel(href="tel:+78123329348", target="_blank") +7 (812) 332-93-48
        +e.email-wrapper 
          +e.A.email(href="mailto:spb@mostest.ru", target="_blank") spb@mostest.ru
      +e.buttons
          +b.A.btn--blue(href="#") Заказать звонок с сайта
          +b.A.btn--yellow(href="#") Задать вопрос эксперту                
  // Certification menu
  +b.NAV.certification-menu
    +e.UL.list
      +e.item 
        +e.link(href="page.html") Сертификация и декларирование продукции
        +b.UL.certification-dropdown
          +e.item 
            +e.link(href="page.html") Сертификат Таможенного Союза
          +e.item 
            +e.link(href="page.html") Декларация Таможенного Союза
          +e.item 
            +e.link(href="page.html") Сертификат ГОСТ Р
          +e.item
            +e.link(href="page.html") Декларация ГОСТ Р
          +e.item
            +e.link(href="page.html") Добровольная система сертификации
      +e.item 
        +e.link(href="page.html") Сертификат пожарной безопасности
        +b.UL.certification-dropdown
          +e.item 
            +e.link(href="page.html") Сертификат пожарной безопасности
          +e.item 
            +e.link(href="page.html") Декларация о соответствии техническому  регламенту «О требованиях пожарной безопасности»
          +e.item 
            +e.link(href="page.html") Добровольная сертификация
      +e.item
        +e.link(href="page.html") Свидетельство о государственной регистрации
        +b.UL.certification-dropdown
          +e.item 
            +e.link(href="page.html") Свидетельство о государственной регистрации продукции
          +e.item 
            +e.link(href="page.html") Экспертное заключение
          +e.item 
            +e.link(href="page.html") Гигиенический сертификат на продукцию       
      +e.item
        +e.link(href="page.html") Действующие технические регламенты 
      +e.item
        +e.link(href="page.html") Разработка технической документации 
      +e.item
        +e.link(href="page.html") Системы менеджмента качества
      +e.item
        +e.link(href="page.html") Экспертиза косметической продукции
      +e.item
        +e.link(href="page.html") Прочие документы
      //- +b.search
      //-   +e.FORM.form
      //-     +e.INPUT.input(type='text', name='Lorem', placeholder='lorem')
      //-   +e.A.icon(href="#") 

