include ../abstracts/bemto/bemto.pug

+b.SECTION.offer(itemscope, itemtype="http://schema.org/Service") 
  +e.H2.title Что предлагает Мостест?
  +e.UL.list
    +e.item(itemprop="offers")
      +e.number 1
      +e.text Сертификация "Под ключ"   
      +e.additional от разработки нормативно-технической документации до доставки оригиналов документов
    +e.item(itemprop="offers")
      +e.number 2
      +e.text Подготовка и подача документов для сертификации   
      +e.additional Вам достаточно 
        a(href="#") отправить заявку
        !=" с сайта"               
    +e.item(itemprop="offers")
      +e.number 3
      +e.text Легитимность документов   
      +e.additional отвечаем за качество и законность оформления документов – все сертификаты и декларации Вы сможете самостоятельно проверить в 
        a(href="#") государственном реестре
    +e.item(itemprop="offers")
      +e.number 4
      +e.text Широкий спектр предоставляемых услуг   
      +e.additional беремся за трудные задачи, например подтверждение эффективности парфюмерно-косметической продукции   
    +e.item(itemprop="offers")
      +e.number 5
      +e.text Оперативное обслуживание   
      +e.additional ценим время наших клиентов, отвечаем на 
        a(href="#") запросы
        !=" в течение 12 минут"
  


