include ../abstracts/bemto/bemto.pug

.side-fixed-menu
  ul.side-fixed-menu__list
    li.side-fixed-menu__item
      a.side-fixed-menu__link.side-fixed-menu__link--toggle(href="#") Пакеты услуг
      +b.side-fixed-details
        +e.H2.title Выгодные решения по услугам сертификации для Вас
        +e.text
          p Пакет 
            strong «Сделано в РФ» 
            != " - скидка "
            strong 10%
            != " для отечественных производителей включает "
            a(href="#") разработку Технических Условий
            != ", "
            a(href="#") регистрацию Технических Условий
            != ", "
            a(href="#") оформление Декларации
            != "/"
            a(href="#") сертификата
            != ", "
            a(href="#") протокола испытаний
            != "."
          p Пакет 
            strong «Для малого бизнеса»
            != " - " 
            a(href="#") консультация
            != ", оформление необходимых документов со скидкой "
            strong  15%
            != "."
          p Пакет 
            strong «Все включено»
            != " - "
            a(href="#") разработка, регистрация нормативно-технической документации
            != ", " 
            a(href="#") оформление Декларации
            != "/"
            a(href="#") сертификата
            != ", " 
            a(href="#") Добровольного Сертификата ГОСТ Р
            != ", " 
            a(href="#") протокола испытаний
            != ", "
            a(href="#") Сертификата системы качества ISO
            != " - скидка "
            strong 20%
            != "."
    li.side-fixed-menu__item
      a.side-fixed-menu__link.side-fixed-menu__link--toggle(href="#") Заказать звонок
      +b.side-fixed-details
        +e.H2.title Заказать звонок
        +e.text
          p Закажите сейчас бесплатный звонок с сайта по любому актуальному для Вас вопросу – специалист Мостест Вам перезвонит.
          include form--call.pug
    li.side-fixed-menu__item
      a.side-fixed-menu__link.side-fixed-menu__link--toggle(href="#") Задать вопрос
      +b.side-fixed-details
        +e.H2.title Задать вопрос
        +e.text
          p С чего начать оформление? Заполнив форму, Вы можете получить полную информацию по любым актуальным для Вас вопросам сертификации, метрологии, стандартизации и т.д.
          include form--question.pug
        +e.side-fixed-details__link-all(href="#") Читать все вопросы          
    li.side-fixed-menu__item
      a.side-fixed-menu__link.side-fixed-menu__link--outer(href="https://vk.com/mostestsert", target="_blank") Группа вконтакте
    li.side-fixed-menu__item
      a.side-fixed-menu__link.side-fixed-menu__link--up(href="#") Наверх 

