include ../abstracts/bemto/bemto.pug

+b.SECTION.statistics
  +e.H2.title Статистика центра  
  +e.UL.list
    +e.item
      +b.circlechart
        +e.circle1
        +e.circle2
        +e.circle3
        +e.number 7500+
      +e.link(href="#") Бесплатных консультаций  
    +e.item
      +b.circlechart
        +e.circle1
        +e.circle2
        +e.circle3
        +e.number 90%+
      +e.link(href="#") Повторные обращения 
    +e.item
      +b.circlechart
        +e.circle1
        +e.circle2
        +e.circle3
        +e.number 15мин
      +e.link(href="#") Среднее время ответа на новый запрос

